In [1]:
# Movie Gross Margin Data Throughout All Time.

In [2]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup

In [3]:
URL = 'https://www.boxofficemojo.com/chart/top_lifetime_gross/'

In [4]:
response = requests.get(URL)

In [5]:
response

In [6]:
# response.text

In [7]:
type(response.text)

str

In [8]:
# response.content

In [9]:
type(response.content)

bytes

In [10]:
info = BeautifulSoup(response.content)

In [11]:
# info

In [12]:
# info.prettify()

In [13]:
# info.find('div', class_='a-section imdb-scroll-table-inner')

In [14]:
header_info = info.find('table', class_='a-bordered a-horizontal-stripes a-size-base a-span12 mojo-body-table mojo-table-annotated')

In [15]:
# header_info

In [16]:
temp_titles = header_info.find_all('th')

In [17]:
temp_titles

[<th class="a-text-right mojo-field-type-rank a-nowrap"><span title="Rank">Rank</span>
 </th>,
 <th class="a-text-left mojo-field-type-title a-nowrap"><span title="Title">Title</span>
 </th>,
 <th class="a-text-right mojo-field-type-money a-nowrap"><span title="Lifetime Gross">Lifetime Gross</span>
 </th>,
 <th class="a-text-left mojo-field-type-year a-nowrap"><span title="Year">Year</span>
 </th>]

In [18]:
titles_list = [] 

for val in temp_titles:
    
    titles_list.append(val.text.strip()) 

titles_list

['Rank', 'Title', 'Lifetime Gross', 'Year']

In [19]:
DataFrame = pd.DataFrame(columns=['Rank', 'Title', 'Lifetime Gross', 'Year'])

In [20]:
DataFrame

Empty DataFrame
Columns: [Rank, Title, Lifetime Gross, Year]
Index: []

In [21]:
data_info = info.find_all('tr')

In [22]:
# data_info

In [23]:
for val in data_info[1:]:
    
    data = val.find_all('td') 
    
    data_list = []
    
    for value in data:
        
        data_list.append(value.text.strip())  
    
    print(data_list) 
    
    len_df = len(DataFrame) 
    
    DataFrame.loc[len_df] = data_list

['1', 'Star Wars: Episode VII - The Force Awakens', '$936,662,225', '2015']
['2', 'Avengers: Endgame', '$858,373,000', '2019']
['3', 'Spider-Man: No Way Home', '$814,115,070', '2021']
['4', 'Avatar', '$785,221,649', '2009']
['5', 'Top Gun: Maverick', '$718,732,821', '2022']
['6', 'Black Panther', '$700,426,566', '2018']
['7', 'Avatar: The Way of Water', '$684,075,767', '2022']
['8', 'Avengers: Infinity War', '$678,815,482', '2018']
['9', 'Titanic', '$674,292,608', '1997']
['10', 'Jurassic World', '$653,406,625', '2015']
['11', 'Barbie', '$636,203,114', '2023']
['12', 'The Avengers', '$623,357,910', '2012']
['13', 'Star Wars: Episode VIII - The Last Jedi', '$620,181,382', '2017']
['14', 'Incredibles 2', '$608,581,744', '2018']
['15', 'The Super Mario Bros. Movie', '$574,934,330', '2023']
['16', 'The Lion King', '$543,638,043', '2019']
['17', 'The Dark Knight', '$534,987,076', '2008']
['18', 'Rogue One: A Star Wars Story', '$533,539,991', '2016']
['19', 'Star Wars: Episode IX - The Rise of Skywalker', '$515,202,542', '2019']
['20', 'Beauty and the Beast', '$504,481,165', '2017']
['21', 'Finding Dory', '$486,295,561', '2016']
['22', 'Frozen II', '$477,373,578', '2019']
['23', 'Star Wars: Episode I - The Phantom Menace', '$474,544,677', '1999']
['24', 'Star Wars: Episode IV - A New Hope', '$460,998,507', '1977']
['25', 'Avengers: Age of Ultron', '$459,005,868', '2015']
['26', 'Black Panther: Wakanda Forever', '$453,829,060', '2022']
['27', 'The Dark Knight Rises', '$448,149,584', '2012']
['28', 'Shrek 2', '$441,226,247', '2004']
['29', 'E.T. the Extra-Terrestrial', '$437,141,279', '1982']
['30', 'Toy Story 4', '$434,038,008', '2019']
['31', 'Captain Marvel', '$426,829,839', '2019']
['32', 'The Hunger Games: Catching Fire', '$424,668,047', '2013']
['33', "Pirates of the Caribbean: Dead Man's Chest", '$423,315,812', '2006']
['34', 'The Lion King', '$422,783,777', '1994']
['35', 'Jurassic World: Fallen Kingdom', '$417,719,760', '2018']
['36', 'Toy Story 3', '$415,004,880', '2010']
['37', 'Wonder Woman', '$412,845,172', '2017']
['38', 'Doctor Strange in the Multiverse of Madness', '$411,331,607', '2022']
['39', 'Iron Man 3', '$409,013,994', '2013']
['40', 'Captain America: Civil War', '$408,084,349', '2016']
['41', 'The Hunger Games', '$408,010,692', '2012']
['42', 'Jurassic Park', '$407,185,075', '1993']
['43', 'Spider-Man', '$407,022,860', '2002']
['44', 'Jumanji: Welcome to the Jungle', '$404,540,171', '2017']
['45', 'Transformers: Revenge of the Fallen', '$402,111,870', '2009']
['46', 'Frozen', '$400,953,009', '2013']
['47', 'Spider-Man: Far from Home', '$390,532,085', '2019']
['48', 'Guardians of the Galaxy Vol. 2', '$389,813,101', '2017']
['49', 'Harry Potter and the Deathly Hallows: Part 2', '$381,447,587', '2011']
['50', 'Spider-Man: Across the Spider-Verse', '$381,311,319', '2023']
['51', 'Finding Nemo', '$380,843,261', '2003']
['52', 'Star Wars: Episode III - Revenge of the Sith', '$380,270,577', '2005']
['53', 'The Lord of the Rings: The Return of the King', '$379,427,292', '2003']
['54', 'Jurassic World Dominion', '$376,851,080', '2022']
['55', 'Spider-Man 2', '$373,585,825', '2004']
['56', 'The Passion of the Christ', '$370,782,930', '2004']
['57', 'Minions: The Rise of Gru', '$369,695,210', '2022']
['58', 'The Batman', '$369,345,583', '2022']
['59', 'The Secret Life of Pets', '$368,384,330', '2016']
['60', 'Despicable Me 2', '$368,065,385', '2013']
['61', 'The Jungle Book', '$364,001,123', '2016']
['62', 'Deadpool', '$363,070,709', '2016']
['63', 'Guardians of the Galaxy Vol. 3', '$358,995,815', '2023']
['64', 'Inside Out', '$356,921,711', '2015']
['65', 'Aladdin', '$355,559,216', '2019']
['66', 'Furious 7', '$353,007,020', '2015']
['67', 'Transformers: Dark of the Moon', '$352,390,543', '2011']
['68', 'American Sniper', '$350,159,020', '2014']
['69', 'Thor: Love and Thunder', '$343,256,830', '2022']
['70', 'The Lord of the Rings: The Two Towers', '$342,952,511', '2002']
['71', 'Zootopia', '$341,268,248', '2016']
['72', 'The Hunger Games: Mockingjay - Part 1', '$337,135,885', '2014']
['73', 'Spider-Man 3', '$336,530,303', '2007']
['74', 'Minions', '$336,045,770', '2015']
['75', 'Joker', '$335,477,657', '2019']
['76', 'Aquaman', '$335,104,314', '2018']
['77', 'Spider-Man: Homecoming', '$334,201,140', '2017']
['78', 'Alice in Wonderland', '$334,191,110', '2010']
['79', 'Guardians of the Galaxy', '$333,718,600', '2014']
['80', 'Forrest Gump', '$330,455,270', '1994']
['81', 'Batman v Superman: Dawn of Justice', '$330,360,194', '2016']
['82', 'It', '$328,874,981', '2017']
['83', 'Oppenheimer', '$325,389,840', '2023']
['84', 'Suicide Squad', '$325,100,054', '2016']
['85', 'Deadpool 2', '$324,591,735', '2018']
['86', 'Shrek the Third', '$322,719,944', '2007']
['87', 'Jumanji: The Next Level', '$320,314,960', '2019']
['88', 'Transformers', '$319,246,193', '2007']
['89', 'Iron Man', '$319,034,126', '2008']
['90', "Harry Potter and the Sorcerer's Stone", '$318,886,962', '2001']
['91', 'Indiana Jones and the Kingdom of the Crystal Skull', '$317,101,119', '2008']
['92', 'Star Wars: Episode VI - Return of the Jedi', '$316,566,101', '1983']
['93', 'The Lord of the Rings: The Fellowship of the Ring', '$316,115,420', '2001']
['94', 'Thor: Ragnarok', '$315,058,289', '2017']
['95', 'Iron Man 2', '$312,433,331', '2010']
['96', 'Star Wars: Episode II - Attack of the Clones', '$310,676,740', '2002']
['97', "Pirates of the Caribbean: At World's End", '$309,420,425', '2007']
['98', 'Independence Day', '$306,169,268', '1996']
['99', 'Pirates of the Caribbean: The Curse of the Black Pearl', '$305,413,918', '2003']
['100', 'Skyfall', '$304,360,277', '2012']
['101', 'The Hobbit: An Unexpected Journey', '$303,030,651', '2012']
['102', 'Harry Potter and the Half-Blood Prince', '$302,334,374', '2009']
['103', 'The Twilight Saga: Eclipse', '$300,531,751', '2010']
['104', 'The Little Mermaid', '$298,172,056', '2023']
['105', 'The Twilight Saga: New Moon', '$297,816,253', '2009']
['106', 'Harry Potter and the Deathly Hallows: Part 1', '$296,374,621', '2010']
['107', 'The Sixth Sense', '$293,506,292', '1999']
['108', 'Up', '$293,004,164', '2009']
['109', 'Star Wars: Episode V - The Empire Strikes Back', '$292,753,960', '1980']
['110', 'Inception', '$292,587,330', '2010']
['111', 'Harry Potter and the Order of the Phoenix', '$292,382,727', '2007']
['112', 'The Twilight Saga: Breaking Dawn - Part 2', '$292,324,737', '2012']
['113', 'The Chronicles of Narnia: The Lion, the Witch and the Wardrobe', '$291,710,957', '2005']
['114', 'Man of Steel', '$291,045,518', '2013']
['115', 'Monsters, Inc.', '$290,642,256', '2001']
['116', 'Harry Potter and the Goblet of Fire', '$290,469,928', '2005']
['117', 'Home Alone', '$285,761,243', '1990']
['118', 'The Hunger Games: Mockingjay - Part 2', '$281,723,902', '2015']
['119', 'The Matrix Reloaded', '$281,576,461', '2003']
['120', 'The Twilight Saga: Breaking Dawn - Part 1', '$281,287,133', '2011']
['121', 'Meet the Fockers', '$279,261,160', '2004']
['122', 'The Hangover', '$277,339,746', '2009']
['123', 'Gravity', '$274,092,705', '2013']
['124', 'The Grinch', '$271,384,731', '2018']
['125', 'Sing', '$270,578,425', '2016']
['126', 'Monsters University', '$268,492,764', '2013']
['127', 'Shrek', '$268,163,011', '2001']
['128', 'Jaws', '$265,859,065', '1975']
['129', 'Despicable Me 3', '$264,624,300', '2017']
['130', 'Harry Potter and the Chamber of Secrets', '$262,641,637', '2002']
['131', 'The Amazing Spider-Man', '$262,030,663', '2012']
['132', 'The Incredibles', '$261,441,092', '2004']
['133', 'How the Grinch Stole Christmas', '$260,715,005', '2000']
['134', 'Captain America: The Winter Soldier', '$259,766,572', '2014']
['135', 'The Hobbit: The Desolation of Smaug', '$258,387,334', '2013']
['136', 'The Lego Movie', '$257,966,122', '2014']
['137', 'Star Trek', '$257,730,019', '2009']
['138', 'I Am Legend', '$256,393,010', '2007']
['139', 'The Blind Side', '$255,982,860', '2009']
['140', 'The Hobbit: The Battle of the Five Armies', '$255,138,261', '2014']
['141', 'The Hangover Part II', '$254,464,305', '2011']
['142', 'Despicable Me', '$251,557,985', '2010']
['143', 'Batman', '$251,409,241', '1989']
['144', 'Night at the Museum', '$250,863,268', '2006']
['145', 'Men in Black', '$250,690,539', '1997']
['146', 'Harry Potter and the Prisoner of Azkaban', '$250,105,651', '2004']
['147', 'Moana', '$248,757,044', '2016']
['148', 'Raiders of the Lost Ark', '$248,159,971', '1981']
['149', 'Toy Story 2', '$245,852,179', '1999']
['150', 'Transformers: Age of Extinction', '$245,439,076', '2014']
['151', 'Cars', '$244,082,982', '2006']
['152', 'Ghostbusters', '$243,578,797', '1984']
['153', 'Bruce Almighty', '$242,829,261', '2003']
['154', 'Twister', '$241,830,615', '1996']
['155', 'My Big Fat Greek Wedding', '$241,438,208', '2002']
['156', 'Maleficent', '$241,410,378', '2014']
['157', 'Pirates of the Caribbean: On Stranger Tides', '$241,071,802', '2011']
['158', 'Shrek Forever After', '$238,736,787', '2010']
['159', 'Fast & Furious 6', '$238,679,850', '2013']
['160', 'Brave', '$237,283,207', '2012']
['161', 'Oz the Great and Powerful', '$234,911,825', '2013']
['162', 'Beverly Hills Cop', '$234,760,478', '1984']
['163', 'X-Men: The Last Stand', '$234,362,462', '2006']
['164', 'War of the Worlds', '$234,280,354', '2005']
['165', 'Fantastic Beasts and Where to Find Them', '$234,037,575', '2016']
['166', 'X-Men: Days of Future Past', '$233,921,534', '2014']
['167', 'Cast Away', '$233,632,142', '2000']
['168', 'The Exorcist', '$233,005,644', '1973']
['169', 'Doctor Strange', '$232,641,920', '2016']
['170', 'The Lost World: Jurassic Park', '$229,086,679', '1997']
['171', 'Justice League', '$229,024,295', '2017']
['172', 'Star Trek Into Darkness', '$228,778,661', '2013']
['173', 'The Martian', '$228,433,663', '2015']
['174', 'Signs', '$227,966,634', '2002']
['175', 'Hancock', '$227,946,274', '2008']
['176', 'The Bourne Ultimatum', '$227,471,070', '2007']
['177', 'Logan', '$226,277,068', '2017']
['178', 'Rush Hour 2', '$226,164,286', '2001']
['179', 'The Fate of the Furious', '$226,008,385', '2017']
['180', 'Shang-Chi and the Legend of the Ten Rings', '$224,543,292', '2021']
['181', 'WALL·E', '$223,808,164', '2008']
['182', 'Toy Story', '$223,225,679', '1995']
['183', 'Big Hero 6', '$222,527,828', '2014']
['184', 'Mission: Impossible - Fallout', '$220,159,104', '2018']
['185', 'National Treasure: Book of Secrets', '$219,964,115', '2007']
['186', 'Alvin and the Chipmunks: The Squeakquel', '$219,614,612', '2009']
['187', 'Mrs. Doubtfire', '$219,195,243', '1993']
['188', 'Beauty and the Beast', '$218,967,620', '1991']
['189', 'Ted', '$218,815,487', '2012']
['190', 'King Kong', '$218,080,025', '2005']
['191', 'Ghost', '$217,631,306', '1990']
['192', 'How to Train Your Dragon', '$217,581,231', '2010']
['193', 'The Da Vinci Code', '$217,536,138', '2006']
['194', 'Aladdin', '$217,350,219', '1992']
['195', 'Alvin and the Chipmunks', '$217,326,974', '2007']
['196', 'Saving Private Ryan', '$217,049,603', '1998']
['197', 'Bohemian Rhapsody', '$216,668,042', '2018']
['198', 'Ant-Man and the Wasp', '$216,648,740', '2018']
['199', "Madagascar 3: Europe's Most Wanted", '$216,391,482', '2012']
['200', 'Kung Fu Panda', '$215,771,591', '2008']

In [24]:
DataFrame

    Rank                                       Title Lifetime Gross  Year
0      1  Star Wars: Episode VII - The Force Awakens   $936,662,225  2015
1      2                           Avengers: Endgame   $858,373,000  2019
2      3                     Spider-Man: No Way Home   $814,115,070  2021
3      4                                      Avatar   $785,221,649  2009
4      5                           Top Gun: Maverick   $718,732,821  2022
..   ...                                         ...            ...   ...
195  196                         Saving Private Ryan   $217,049,603  1998
196  197                           Bohemian Rhapsody   $216,668,042  2018
197  198                        Ant-Man and the Wasp   $216,648,740  2018
198  199          Madagascar 3: Europe's Most Wanted   $216,391,482  2012
199  200                               Kung Fu Panda   $215,771,591  2008

[200 rows x 4 columns]

In [34]:
DataFrame.to_csv(r'C:\Users\rohit\OneDrive\Desktop\DataSets\Created_Datasets\movie_gross_margin.csv', index=False)