In [ ]:
# Stock market data of top 100 NSE midcap companies.

In [61]:
import pandas as pd
from selenium import webdriver 
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By   
import time

In [62]:
s = Service('C:/Users/rohit/OneDrive/Desktop/Driver/chromedriver.exe') 
driver = webdriver.Chrome(service=s) 

driver.get('https://www.moneycontrol.com/markets/indian-indices/top-nsemidcap-100-companies-list/27?classic=true&categoryId=1&exType=N')
driver.maximize_window()
time.sleep(5)

In [63]:
for val in driver.find_elements(By.XPATH, '//tr[@class="tablesorter-headerRow"]')[6:]:
    
    temp_str = val.text.strip()

In [64]:
temp_str

'Name\nLTP\n%Chg\nVolume\nBuy Price\nSell Price\nBuy Qty\nSell Qty\nAnalysis\nTechnical Rating'

In [65]:
headers = temp_str.split('\n')

In [66]:
headers = value[:8]

In [67]:
headers

['Name',
 'LTP',
 '%Chg',
 'Volume',
 'Buy Price',
 'Sell Price',
 'Buy Qty',
 'Sell Qty']

In [68]:
DataFrame = pd.DataFrame( columns = ['Name','LTP','%Chg','Volume','Buy Price','Sell Price','Buy Qty','Sell Qty'] )

In [69]:
DataFrame

Empty DataFrame
Columns: [Name, LTP, %Chg, Volume, Buy Price, Sell Price, Buy Qty, Sell Qty]
Index: []

In [75]:
for val in driver.find_elements(By.XPATH, '//div[@class="indiright_tbl"]//tbody'): 
    
    temp_str = val

In [78]:
data = temp_str.text.split('\n')

In [79]:
data

['ABB India 4,281.45 1.24 264,960 0.00 0.00 0 0',
 'Analysis',
 'Abbott India 22,476.90 0.39 16,710 0.00 22,476.90 0 14',
 'Analysis',
 'Adani Wilmar 341.75 -0.77 537,842 0.00 341.75 0 794',
 'Analysis',
 'AB Capital 180.45 -0.08 1,695,456 180.45 0.00 5,304 0',
 'Analysis',
 'Aditya Birla F 227.15 2.09 3,399,154 0.00 227.15 0 40',
 'Analysis',
 'Alkem Lab 3,609.35 -0.09 82,519 3,609.35 0.00 1 0',
 'Analysis',
 'Ashok Leyland 176.30 0.28 10,119,504 176.30 0.00 3,381 0',
 'Analysis',
 'Astral Ltd 1,949.45 0.63 774,044 0.00 1,949.45 0 96',
 'Analysis',
 'AU Small Financ 709.35 -1.06 1,680,941 0.00 709.35 0 810',
 'Analysis',
 'Aurobindo Pharm 909.50 -1.14 1,232,225 0.00 909.50 0 5,357',
 'Analysis',
 'Balkrishna Ind 2,594.70 0.37 228,937 0.00 2,594.70 0 208',
 'Analysis',
 'Bank of India 105.20 -0.85 6,200,368 0.00 105.20 0 3,520',
 'Analysis',
 'Bata India 1,634.25 0.58 149,743 0.00 1,634.25 0 78',
 'Analysis',
 'Bharat Forge 1,122.35 0.40 575,772 0.00 1,122.35 0 12',
 'Analysis',
 'BHEL 131.15 2.18 15,014,283 0.00 131.15 0 71,529',
 'Analysis',
 'Canara Bank 371.35 1.31 6,301,261 0.00 371.35 0 963',
 'Analysis',
 'Clean Science 1,377.60 -1.24 57,483 1,377.60 0.00 50 0',
 'Analysis',
 'COFORGE LTD. 5,040.15 0.67 341,417 0.00 0.00 0 0',
 'Analysis',
 'Container Corp 716.60 0.48 1,370,256 716.60 0.00 1,645 0',
 'Analysis',
 'Coromandel Int 1,154.60 0.40 425,032 1,154.60 0.00 174 0',
 'Analysis',
 'CG Consumer 300.45 0.08 839,112 0.00 0.00 0 0',
 'Analysis',
 'Cummins 1,717.15 0.12 550,814 0.00 1,717.15 0 253',
 'Analysis',
 'Dalmia Bharat 2,322.10 1.29 1,406,372 0.00 2,322.10 0 379',
 'Analysis',
 'Deepak Nitrite 2,111.10 1.33 282,380 0.00 2,111.10 0 159',
 'Analysis',
 'Delhivery 425.10 -0.28 609,677 425.10 0.00 81 0',
 'Analysis',
 'Dixon Technolog 5,388.85 0.92 356,387 0.00 5,388.85 0 140',
 'Analysis',
 'Dr Lal PathLab 2,554.30 0.27 108,498 0.00 2,554.30 0 352',
 'Analysis',
 'Emami 499.65 -2.02 376,751 499.65 0.00 8 0',
 'Analysis',
 'Escorts Kubota 3,365.65 -0.39 241,783 0.00 3,365.65 0 25',
 'Analysis',
 'Federal Bank 148.55 -0.57 32,531,561 148.55 0.00 1,712 0',
 'Analysis',
 'Fortis Health 337.20 -0.38 1,443,002 0.00 337.20 0 1,353',
 'Analysis',
 'Godrej Prop 1,701.15 0.77 451,705 0.00 1,701.15 0 108',
 'Analysis',
 'Gujarat Gas 425.15 -0.39 759,264 425.15 0.00 830 0',
 'Analysis',
 'Guj State Petro 288.10 1.11 2,752,005 0.00 288.10 0 6,144',
 'Analysis',
 'HINDPETRO 256.70 0.10 2,421,516 0.00 256.70 0 192',
 'Analysis',
 'Hind Zinc 321.90 1.04 710,371 0.00 321.90 0 49',
 'Analysis',
 'Honeywell Autom 37,873.40 -0.47 1,893 0.00 0.00 0 0',
 'Analysis',
 'ICICI Securitie 631.95 0.20 82,543 631.95 0.00 246 0',
 'Analysis',
 'IDFC First Bank 90.95 0.78 18,504,956 90.95 0.00 10,628 0',
 'Analysis',
 'Indiamart Inter 2,821.05 -0.17 118,192 2,821.05 0.00 386 0',
 'Analysis',
 'Indian Bank 430.15 2.81 1,053,080 430.15 0.00 71 0',
 'Analysis',
 'IEX 135.10 0.45 4,368,903 0.00 135.10 0 3,225',
 'Analysis',
 'Indian Hotels 416.70 0.47 2,135,138 0.00 416.70 0 282',
 'Analysis',
 'IGL 481.05 1.87 1,961,860 481.05 0.00 75 0',
 'Analysis',
 'Ipca Labs 963.80 0.48 517,819 0.00 963.80 0 2',
 'Analysis',
 'Jindal Steel 691.85 1.52 1,436,740 0.00 691.85 0 898',
 'Analysis',
 'JSW Energy 401.20 2.33 7,175,895 0.00 401.20 0 6,058',
 'Analysis',
 'Jubilant Food 532.05 -1.13 1,771,724 532.05 0.00 31 0',
 'Analysis',
 'L&T Finance 134.90 0.97 9,634,091 134.90 0.00 1,749 0',
 'Analysis',
 'L&T Technology 4,690.30 -0.75 141,873 4,690.30 0.00 157 0',
 'Analysis',
 'Laurus Labs 398.70 -1.31 3,502,171 0.00 398.70 0 1,324',
 'Analysis',
 'LIC Housing Fin 471.70 0.36 1,508,509 0.00 471.70 0 23',
 'Analysis',
 'Linde India 6,421.05 -0.39 87,784 0.00 6,421.05 0 2',
 'Analysis',
 'Lupin 1,198.30 0.88 673,918 0.00 1,198.30 0 189',
 'Analysis',
 'M&M Financial 285.30 -0.64 2,945,115 0.00 285.30 0 413',
 'Analysis',
 'Max Financial 922.25 0.69 849,725 0.00 922.25 0 265',
 'Analysis',
 'Max Healthcare 576.45 -1.09 1,225,625 576.45 0.00 969 0',
 'Analysis',
 'Motherson SWI 62.75 1.21 4,075,682 62.75 0.00 633 0',
 'Analysis',
 'MRF 109,548.45 0.42 4,661 0.00 0.00 0 0',
 'Analysis',
 'NALCO 100.40 1.41 9,487,296 100.40 0.00 26,411 0',
 'Analysis',
 'Navin Fluorine 3,695.15 0.10 153,337 0.00 3,695.15 0 28',
 'Analysis',
 'Nippon 386.95 -1.86 846,795 386.95 0.00 2,634 0',
 'Analysis',
 'Oberoi Realty 1,130.75 0.18 217,255 0.00 1,130.75 0 61',
 'Analysis',
 'Oil India 319.85 1.48 3,087,554 0.00 319.85 0 75',
 'Analysis',
 'Oracle Fin Serv 4,106.50 0.15 44,509 0.00 0.00 0 0',
 'Analysis',
 'Page Industries 38,919.65 -0.96 13,904 38,919.65 0.00 1 0',
 'Analysis',
 'Patanjali Foods 1,319.40 -2.38 363,309 0.00 0.00 0 0',
 'Analysis',
 'PB Fintech 738.50 -0.01 1,067,495 0.00 738.50 0 399',
 'Analysis',
 'Persistent 5,760.90 -0.08 427,991 5,760.90 0.00 30 0',
 'Analysis',
 'Petronet LNG 231.15 0.04 1,353,768 0.00 231.15 0 60',
 'Analysis',
 'Polycab 5,420.50 1.83 727,018 0.00 5,420.50 0 1',
 'Analysis',
 'Poonawalla Fin 377.50 0.37 1,008,065 0.00 377.50 0 1,318',
 'Analysis',
 'Power Finance 251.90 0.70 15,828,545 251.90 0.00 1,132 0',
 'Analysis',
 'Prestige Estate 721.40 0.75 865,344 721.40 0.00 40 0',
 'Analysis',
 'PNB 75.25 0.07 31,664,409 0.00 75.25 0 36,452',
 'Analysis',
 'REC 294.05 0.27 9,744,816 294.05 0.00 357 0',
 'Analysis',
 'Shriram Finance 1,867.55 -0.71 492,792 1,867.55 0.00 82 0',
 'Analysis',
 'Sona BLW 559.65 -0.08 277,010 0.00 559.65 0 177',
 'Analysis',
 'SAIL 89.20 0.34 10,487,993 0.00 89.20 0 26,849',
 'Analysis',
 'Sun TV Network 644.55 1.74 2,748,923 0.00 644.55 0 948',
 'Analysis',
 'Syngene Intl 776.90 -0.35 692,488 776.90 0.00 2 0',
 'Analysis',
 'Tata Chemicals 1,040.85 0.56 583,658 0.00 1,040.85 0 193',
 'Analysis',
 'Tata Comm 1,796.95 -0.67 410,841 0.00 1,796.95 0 805',
 'Analysis',
 'Tata Elxsi 7,477.05 0.45 100,722 0.00 7,477.05 0 26',
 'Analysis',
 'TataTeleservice 96.30 -0.41 3,089,479 96.30 0.00 11,789 0',
 'Analysis',
 'Ramco Cements 1,000.40 0.43 523,283 1,000.40 0.00 607 0',
 'Analysis',
 'Torrent Power 734.40 0.61 312,995 0.00 734.40 0 497',
 'Analysis',
 'Trent 2,107.65 1.10 446,019 0.00 2,107.65 0 373',
 'Analysis',
 'Trident 37.15 0.13 7,880,153 0.00 37.15 0 28,678',
 'Analysis',
 'Tube Investment 3,010.85 1.49 116,181 3,010.85 0.00 82 0',
 'Analysis',
 'TVS Motor 1,601.70 0.05 582,454 0.00 1,601.70 0 59',
 'Analysis',
 'Union Bank 105.05 2.09 18,681,567 0.00 105.05 0 32',
 'Analysis',
 'United Brewerie 1,565.20 -1.10 362,528 1,565.20 0.00 51 0',
 'Analysis',
 'Varun Beverages 922.65 -0.74 1,820,084 922.65 0.00 139 0',
 'Analysis',
 'Vodafone Idea 11.80 -1.67 196,345,841 0.00 11.80 0 100,712',
 'Analysis',
 'Voltas 852.40 0.82 889,834 852.40 0.00 118 0',
 'Analysis',
 'Whirlpool 1,692.70 -1.28 32,219 1,692.70 0.00 45 0',
 'Analysis',
 'Yes Bank 17.05 -0.29 67,053,870 17.05 0.00 603,106 0',
 'Analysis',
 'Zee Entertain 255.65 -1.06 3,396,777 0.00 255.65 0 5,021',
 'Analysis',
 'Zydus Life 591.20 -0.13 509,125 0.00 591.20 0 226',
 'Analysis']

In [84]:
table_data = [] 
count = 2

for val in data:
    
    if count%2==0:
        
        table_data.append(val) 
    
    count = count + 1

table_data

['ABB India 4,281.45 1.24 264,960 0.00 0.00 0 0',
 'Abbott India 22,476.90 0.39 16,710 0.00 22,476.90 0 14',
 'Adani Wilmar 341.75 -0.77 537,842 0.00 341.75 0 794',
 'AB Capital 180.45 -0.08 1,695,456 180.45 0.00 5,304 0',
 'Aditya Birla F 227.15 2.09 3,399,154 0.00 227.15 0 40',
 'Alkem Lab 3,609.35 -0.09 82,519 3,609.35 0.00 1 0',
 'Ashok Leyland 176.30 0.28 10,119,504 176.30 0.00 3,381 0',
 'Astral Ltd 1,949.45 0.63 774,044 0.00 1,949.45 0 96',
 'AU Small Financ 709.35 -1.06 1,680,941 0.00 709.35 0 810',
 'Aurobindo Pharm 909.50 -1.14 1,232,225 0.00 909.50 0 5,357',
 'Balkrishna Ind 2,594.70 0.37 228,937 0.00 2,594.70 0 208',
 'Bank of India 105.20 -0.85 6,200,368 0.00 105.20 0 3,520',
 'Bata India 1,634.25 0.58 149,743 0.00 1,634.25 0 78',
 'Bharat Forge 1,122.35 0.40 575,772 0.00 1,122.35 0 12',
 'BHEL 131.15 2.18 15,014,283 0.00 131.15 0 71,529',
 'Canara Bank 371.35 1.31 6,301,261 0.00 371.35 0 963',
 'Clean Science 1,377.60 -1.24 57,483 1,377.60 0.00 50 0',
 'COFORGE LTD. 5,040.15 0.67 341,417 0.00 0.00 0 0',
 'Container Corp 716.60 0.48 1,370,256 716.60 0.00 1,645 0',
 'Coromandel Int 1,154.60 0.40 425,032 1,154.60 0.00 174 0',
 'CG Consumer 300.45 0.08 839,112 0.00 0.00 0 0',
 'Cummins 1,717.15 0.12 550,814 0.00 1,717.15 0 253',
 'Dalmia Bharat 2,322.10 1.29 1,406,372 0.00 2,322.10 0 379',
 'Deepak Nitrite 2,111.10 1.33 282,380 0.00 2,111.10 0 159',
 'Delhivery 425.10 -0.28 609,677 425.10 0.00 81 0',
 'Dixon Technolog 5,388.85 0.92 356,387 0.00 5,388.85 0 140',
 'Dr Lal PathLab 2,554.30 0.27 108,498 0.00 2,554.30 0 352',
 'Emami 499.65 -2.02 376,751 499.65 0.00 8 0',
 'Escorts Kubota 3,365.65 -0.39 241,783 0.00 3,365.65 0 25',
 'Federal Bank 148.55 -0.57 32,531,561 148.55 0.00 1,712 0',
 'Fortis Health 337.20 -0.38 1,443,002 0.00 337.20 0 1,353',
 'Godrej Prop 1,701.15 0.77 451,705 0.00 1,701.15 0 108',
 'Gujarat Gas 425.15 -0.39 759,264 425.15 0.00 830 0',
 'Guj State Petro 288.10 1.11 2,752,005 0.00 288.10 0 6,144',
 'HINDPETRO 256.70 0.10 2,421,516 0.00 256.70 0 192',
 'Hind Zinc 321.90 1.04 710,371 0.00 321.90 0 49',
 'Honeywell Autom 37,873.40 -0.47 1,893 0.00 0.00 0 0',
 'ICICI Securitie 631.95 0.20 82,543 631.95 0.00 246 0',
 'IDFC First Bank 90.95 0.78 18,504,956 90.95 0.00 10,628 0',
 'Indiamart Inter 2,821.05 -0.17 118,192 2,821.05 0.00 386 0',
 'Indian Bank 430.15 2.81 1,053,080 430.15 0.00 71 0',
 'IEX 135.10 0.45 4,368,903 0.00 135.10 0 3,225',
 'Indian Hotels 416.70 0.47 2,135,138 0.00 416.70 0 282',
 'IGL 481.05 1.87 1,961,860 481.05 0.00 75 0',
 'Ipca Labs 963.80 0.48 517,819 0.00 963.80 0 2',
 'Jindal Steel 691.85 1.52 1,436,740 0.00 691.85 0 898',
 'JSW Energy 401.20 2.33 7,175,895 0.00 401.20 0 6,058',
 'Jubilant Food 532.05 -1.13 1,771,724 532.05 0.00 31 0',
 'L&T Finance 134.90 0.97 9,634,091 134.90 0.00 1,749 0',
 'L&T Technology 4,690.30 -0.75 141,873 4,690.30 0.00 157 0',
 'Laurus Labs 398.70 -1.31 3,502,171 0.00 398.70 0 1,324',
 'LIC Housing Fin 471.70 0.36 1,508,509 0.00 471.70 0 23',
 'Linde India 6,421.05 -0.39 87,784 0.00 6,421.05 0 2',
 'Lupin 1,198.30 0.88 673,918 0.00 1,198.30 0 189',
 'M&M Financial 285.30 -0.64 2,945,115 0.00 285.30 0 413',
 'Max Financial 922.25 0.69 849,725 0.00 922.25 0 265',
 'Max Healthcare 576.45 -1.09 1,225,625 576.45 0.00 969 0',
 'Motherson SWI 62.75 1.21 4,075,682 62.75 0.00 633 0',
 'MRF 109,548.45 0.42 4,661 0.00 0.00 0 0',
 'NALCO 100.40 1.41 9,487,296 100.40 0.00 26,411 0',
 'Navin Fluorine 3,695.15 0.10 153,337 0.00 3,695.15 0 28',
 'Nippon 386.95 -1.86 846,795 386.95 0.00 2,634 0',
 'Oberoi Realty 1,130.75 0.18 217,255 0.00 1,130.75 0 61',
 'Oil India 319.85 1.48 3,087,554 0.00 319.85 0 75',
 'Oracle Fin Serv 4,106.50 0.15 44,509 0.00 0.00 0 0',
 'Page Industries 38,919.65 -0.96 13,904 38,919.65 0.00 1 0',
 'Patanjali Foods 1,319.40 -2.38 363,309 0.00 0.00 0 0',
 'PB Fintech 738.50 -0.01 1,067,495 0.00 738.50 0 399',
 'Persistent 5,760.90 -0.08 427,991 5,760.90 0.00 30 0',
 'Petronet LNG 231.15 0.04 1,353,768 0.00 231.15 0 60',
 'Polycab 5,420.50 1.83 727,018 0.00 5,420.50 0 1',
 'Poonawalla Fin 377.50 0.37 1,008,065 0.00 377.50 0 1,318',
 'Power Finance 251.90 0.70 15,828,545 251.90 0.00 1,132 0',
 'Prestige Estate 721.40 0.75 865,344 721.40 0.00 40 0',
 'PNB 75.25 0.07 31,664,409 0.00 75.25 0 36,452',
 'REC 294.05 0.27 9,744,816 294.05 0.00 357 0',
 'Shriram Finance 1,867.55 -0.71 492,792 1,867.55 0.00 82 0',
 'Sona BLW 559.65 -0.08 277,010 0.00 559.65 0 177',
 'SAIL 89.20 0.34 10,487,993 0.00 89.20 0 26,849',
 'Sun TV Network 644.55 1.74 2,748,923 0.00 644.55 0 948',
 'Syngene Intl 776.90 -0.35 692,488 776.90 0.00 2 0',
 'Tata Chemicals 1,040.85 0.56 583,658 0.00 1,040.85 0 193',
 'Tata Comm 1,796.95 -0.67 410,841 0.00 1,796.95 0 805',
 'Tata Elxsi 7,477.05 0.45 100,722 0.00 7,477.05 0 26',
 'TataTeleservice 96.30 -0.41 3,089,479 96.30 0.00 11,789 0',
 'Ramco Cements 1,000.40 0.43 523,283 1,000.40 0.00 607 0',
 'Torrent Power 734.40 0.61 312,995 0.00 734.40 0 497',
 'Trent 2,107.65 1.10 446,019 0.00 2,107.65 0 373',
 'Trident 37.15 0.13 7,880,153 0.00 37.15 0 28,678',
 'Tube Investment 3,010.85 1.49 116,181 3,010.85 0.00 82 0',
 'TVS Motor 1,601.70 0.05 582,454 0.00 1,601.70 0 59',
 'Union Bank 105.05 2.09 18,681,567 0.00 105.05 0 32',
 'United Brewerie 1,565.20 -1.10 362,528 1,565.20 0.00 51 0',
 'Varun Beverages 922.65 -0.74 1,820,084 922.65 0.00 139 0',
 'Vodafone Idea 11.80 -1.67 196,345,841 0.00 11.80 0 100,712',
 'Voltas 852.40 0.82 889,834 852.40 0.00 118 0',
 'Whirlpool 1,692.70 -1.28 32,219 1,692.70 0.00 45 0',
 'Yes Bank 17.05 -0.29 67,053,870 17.05 0.00 603,106 0',
 'Zee Entertain 255.65 -1.06 3,396,777 0.00 255.65 0 5,021',
 'Zydus Life 591.20 -0.13 509,125 0.00 591.20 0 226']

In [96]:
name = [] 
LTP = [] 
change_percent = [] 
volume = [] 
buy_price = [] 
sell_price = [] 
buy_qty = [] 
sell_qty = [] 

for val in table_data:
    
    temp_str1 = ""
    temp_str2 = "" 
    count = 0 
    new_list = [] 
    
    for ch in val: 
        
        if ch>='0' and ch<='9':
            
            break 
        
        temp_str1 = temp_str1 + ch
        
        count = count + 1
    
    name.append(temp_str1) 
    
    temp_str2 = val[count:] 
    
    new_list = temp_str2.split() 
    
    LTP.append(new_list[0]) 
    change_percent.append(new_list[1])
    volume.append(new_list[2]) 
    buy_price.append(new_list[3]) 
    sell_price.append(new_list[4]) 
    buy_qty.append(new_list[5])
    sell_qty.append(new_list[6])

In [97]:
name

['ABB India ',
 'Abbott India ',
 'Adani Wilmar ',
 'AB Capital ',
 'Aditya Birla F ',
 'Alkem Lab ',
 'Ashok Leyland ',
 'Astral Ltd ',
 'AU Small Financ ',
 'Aurobindo Pharm ',
 'Balkrishna Ind ',
 'Bank of India ',
 'Bata India ',
 'Bharat Forge ',
 'BHEL ',
 'Canara Bank ',
 'Clean Science ',
 'COFORGE LTD. ',
 'Container Corp ',
 'Coromandel Int ',
 'CG Consumer ',
 'Cummins ',
 'Dalmia Bharat ',
 'Deepak Nitrite ',
 'Delhivery ',
 'Dixon Technolog ',
 'Dr Lal PathLab ',
 'Emami ',
 'Escorts Kubota ',
 'Federal Bank ',
 'Fortis Health ',
 'Godrej Prop ',
 'Gujarat Gas ',
 'Guj State Petro ',
 'HINDPETRO ',
 'Hind Zinc ',
 'Honeywell Autom ',
 'ICICI Securitie ',
 'IDFC First Bank ',
 'Indiamart Inter ',
 'Indian Bank ',
 'IEX ',
 'Indian Hotels ',
 'IGL ',
 'Ipca Labs ',
 'Jindal Steel ',
 'JSW Energy ',
 'Jubilant Food ',
 'L&T Finance ',
 'L&T Technology ',
 'Laurus Labs ',
 'LIC Housing Fin ',
 'Linde India ',
 'Lupin ',
 'M&M Financial ',
 'Max Financial ',
 'Max Healthcare ',
 'Motherson SWI ',
 'MRF ',
 'NALCO ',
 'Navin Fluorine ',
 'Nippon ',
 'Oberoi Realty ',
 'Oil India ',
 'Oracle Fin Serv ',
 'Page Industries ',
 'Patanjali Foods ',
 'PB Fintech ',
 'Persistent ',
 'Petronet LNG ',
 'Polycab ',
 'Poonawalla Fin ',
 'Power Finance ',
 'Prestige Estate ',
 'PNB ',
 'REC ',
 'Shriram Finance ',
 'Sona BLW ',
 'SAIL ',
 'Sun TV Network ',
 'Syngene Intl ',
 'Tata Chemicals ',
 'Tata Comm ',
 'Tata Elxsi ',
 'TataTeleservice ',
 'Ramco Cements ',
 'Torrent Power ',
 'Trent ',
 'Trident ',
 'Tube Investment ',
 'TVS Motor ',
 'Union Bank ',
 'United Brewerie ',
 'Varun Beverages ',
 'Vodafone Idea ',
 'Voltas ',
 'Whirlpool ',
 'Yes Bank ',
 'Zee Entertain ',
 'Zydus Life ']

In [98]:
LTP

['4,281.45',
 '22,476.90',
 '341.75',
 '180.45',
 '227.15',
 '3,609.35',
 '176.30',
 '1,949.45',
 '709.35',
 '909.50',
 '2,594.70',
 '105.20',
 '1,634.25',
 '1,122.35',
 '131.15',
 '371.35',
 '1,377.60',
 '5,040.15',
 '716.60',
 '1,154.60',
 '300.45',
 '1,717.15',
 '2,322.10',
 '2,111.10',
 '425.10',
 '5,388.85',
 '2,554.30',
 '499.65',
 '3,365.65',
 '148.55',
 '337.20',
 '1,701.15',
 '425.15',
 '288.10',
 '256.70',
 '321.90',
 '37,873.40',
 '631.95',
 '90.95',
 '2,821.05',
 '430.15',
 '135.10',
 '416.70',
 '481.05',
 '963.80',
 '691.85',
 '401.20',
 '532.05',
 '134.90',
 '4,690.30',
 '398.70',
 '471.70',
 '6,421.05',
 '1,198.30',
 '285.30',
 '922.25',
 '576.45',
 '62.75',
 '109,548.45',
 '100.40',
 '3,695.15',
 '386.95',
 '1,130.75',
 '319.85',
 '4,106.50',
 '38,919.65',
 '1,319.40',
 '738.50',
 '5,760.90',
 '231.15',
 '5,420.50',
 '377.50',
 '251.90',
 '721.40',
 '75.25',
 '294.05',
 '1,867.55',
 '559.65',
 '89.20',
 '644.55',
 '776.90',
 '1,040.85',
 '1,796.95',
 '7,477.05',
 '96.30',
 '1,000.40',
 '734.40',
 '2,107.65',
 '37.15',
 '3,010.85',
 '1,601.70',
 '105.05',
 '1,565.20',
 '922.65',
 '11.80',
 '852.40',
 '1,692.70',
 '17.05',
 '255.65',
 '591.20']

In [99]:
change_percent

['1.24',
 '0.39',
 '-0.77',
 '-0.08',
 '2.09',
 '-0.09',
 '0.28',
 '0.63',
 '-1.06',
 '-1.14',
 '0.37',
 '-0.85',
 '0.58',
 '0.40',
 '2.18',
 '1.31',
 '-1.24',
 '0.67',
 '0.48',
 '0.40',
 '0.08',
 '0.12',
 '1.29',
 '1.33',
 '-0.28',
 '0.92',
 '0.27',
 '-2.02',
 '-0.39',
 '-0.57',
 '-0.38',
 '0.77',
 '-0.39',
 '1.11',
 '0.10',
 '1.04',
 '-0.47',
 '0.20',
 '0.78',
 '-0.17',
 '2.81',
 '0.45',
 '0.47',
 '1.87',
 '0.48',
 '1.52',
 '2.33',
 '-1.13',
 '0.97',
 '-0.75',
 '-1.31',
 '0.36',
 '-0.39',
 '0.88',
 '-0.64',
 '0.69',
 '-1.09',
 '1.21',
 '0.42',
 '1.41',
 '0.10',
 '-1.86',
 '0.18',
 '1.48',
 '0.15',
 '-0.96',
 '-2.38',
 '-0.01',
 '-0.08',
 '0.04',
 '1.83',
 '0.37',
 '0.70',
 '0.75',
 '0.07',
 '0.27',
 '-0.71',
 '-0.08',
 '0.34',
 '1.74',
 '-0.35',
 '0.56',
 '-0.67',
 '0.45',
 '-0.41',
 '0.43',
 '0.61',
 '1.10',
 '0.13',
 '1.49',
 '0.05',
 '2.09',
 '-1.10',
 '-0.74',
 '-1.67',
 '0.82',
 '-1.28',
 '-0.29',
 '-1.06',
 '-0.13']

In [100]:
volume

['264,960',
 '16,710',
 '537,842',
 '1,695,456',
 '3,399,154',
 '82,519',
 '10,119,504',
 '774,044',
 '1,680,941',
 '1,232,225',
 '228,937',
 '6,200,368',
 '149,743',
 '575,772',
 '15,014,283',
 '6,301,261',
 '57,483',
 '341,417',
 '1,370,256',
 '425,032',
 '839,112',
 '550,814',
 '1,406,372',
 '282,380',
 '609,677',
 '356,387',
 '108,498',
 '376,751',
 '241,783',
 '32,531,561',
 '1,443,002',
 '451,705',
 '759,264',
 '2,752,005',
 '2,421,516',
 '710,371',
 '1,893',
 '82,543',
 '18,504,956',
 '118,192',
 '1,053,080',
 '4,368,903',
 '2,135,138',
 '1,961,860',
 '517,819',
 '1,436,740',
 '7,175,895',
 '1,771,724',
 '9,634,091',
 '141,873',
 '3,502,171',
 '1,508,509',
 '87,784',
 '673,918',
 '2,945,115',
 '849,725',
 '1,225,625',
 '4,075,682',
 '4,661',
 '9,487,296',
 '153,337',
 '846,795',
 '217,255',
 '3,087,554',
 '44,509',
 '13,904',
 '363,309',
 '1,067,495',
 '427,991',
 '1,353,768',
 '727,018',
 '1,008,065',
 '15,828,545',
 '865,344',
 '31,664,409',
 '9,744,816',
 '492,792',
 '277,010',
 '10,487,993',
 '2,748,923',
 '692,488',
 '583,658',
 '410,841',
 '100,722',
 '3,089,479',
 '523,283',
 '312,995',
 '446,019',
 '7,880,153',
 '116,181',
 '582,454',
 '18,681,567',
 '362,528',
 '1,820,084',
 '196,345,841',
 '889,834',
 '32,219',
 '67,053,870',
 '3,396,777',
 '509,125']

In [101]:
buy_price

['0.00',
 '0.00',
 '0.00',
 '180.45',
 '0.00',
 '3,609.35',
 '176.30',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '1,377.60',
 '0.00',
 '716.60',
 '1,154.60',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '425.10',
 '0.00',
 '0.00',
 '499.65',
 '0.00',
 '148.55',
 '0.00',
 '0.00',
 '425.15',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '631.95',
 '90.95',
 '2,821.05',
 '430.15',
 '0.00',
 '0.00',
 '481.05',
 '0.00',
 '0.00',
 '0.00',
 '532.05',
 '134.90',
 '4,690.30',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '576.45',
 '62.75',
 '0.00',
 '100.40',
 '0.00',
 '386.95',
 '0.00',
 '0.00',
 '0.00',
 '38,919.65',
 '0.00',
 '0.00',
 '5,760.90',
 '0.00',
 '0.00',
 '0.00',
 '251.90',
 '721.40',
 '0.00',
 '294.05',
 '1,867.55',
 '0.00',
 '0.00',
 '0.00',
 '776.90',
 '0.00',
 '0.00',
 '0.00',
 '96.30',
 '1,000.40',
 '0.00',
 '0.00',
 '0.00',
 '3,010.85',
 '0.00',
 '0.00',
 '1,565.20',
 '922.65',
 '0.00',
 '852.40',
 '1,692.70',
 '17.05',
 '0.00',
 '0.00']

In [102]:
sell_price

['0.00',
 '22,476.90',
 '341.75',
 '0.00',
 '227.15',
 '0.00',
 '0.00',
 '1,949.45',
 '709.35',
 '909.50',
 '2,594.70',
 '105.20',
 '1,634.25',
 '1,122.35',
 '131.15',
 '371.35',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '1,717.15',
 '2,322.10',
 '2,111.10',
 '0.00',
 '5,388.85',
 '2,554.30',
 '0.00',
 '3,365.65',
 '0.00',
 '337.20',
 '1,701.15',
 '0.00',
 '288.10',
 '256.70',
 '321.90',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '135.10',
 '416.70',
 '0.00',
 '963.80',
 '691.85',
 '401.20',
 '0.00',
 '0.00',
 '0.00',
 '398.70',
 '471.70',
 '6,421.05',
 '1,198.30',
 '285.30',
 '922.25',
 '0.00',
 '0.00',
 '0.00',
 '0.00',
 '3,695.15',
 '0.00',
 '1,130.75',
 '319.85',
 '0.00',
 '0.00',
 '0.00',
 '738.50',
 '0.00',
 '231.15',
 '5,420.50',
 '377.50',
 '0.00',
 '0.00',
 '75.25',
 '0.00',
 '0.00',
 '559.65',
 '89.20',
 '644.55',
 '0.00',
 '1,040.85',
 '1,796.95',
 '7,477.05',
 '0.00',
 '0.00',
 '734.40',
 '2,107.65',
 '37.15',
 '0.00',
 '1,601.70',
 '105.05',
 '0.00',
 '0.00',
 '11.80',
 '0.00',
 '0.00',
 '0.00',
 '255.65',
 '591.20']

In [103]:
buy_qty

['0',
 '0',
 '0',
 '5,304',
 '0',
 '1',
 '3,381',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '50',
 '0',
 '1,645',
 '174',
 '0',
 '0',
 '0',
 '0',
 '81',
 '0',
 '0',
 '8',
 '0',
 '1,712',
 '0',
 '0',
 '830',
 '0',
 '0',
 '0',
 '0',
 '246',
 '10,628',
 '386',
 '71',
 '0',
 '0',
 '75',
 '0',
 '0',
 '0',
 '31',
 '1,749',
 '157',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '969',
 '633',
 '0',
 '26,411',
 '0',
 '2,634',
 '0',
 '0',
 '0',
 '1',
 '0',
 '0',
 '30',
 '0',
 '0',
 '0',
 '1,132',
 '40',
 '0',
 '357',
 '82',
 '0',
 '0',
 '0',
 '2',
 '0',
 '0',
 '0',
 '11,789',
 '607',
 '0',
 '0',
 '0',
 '82',
 '0',
 '0',
 '51',
 '139',
 '0',
 '118',
 '45',
 '603,106',
 '0',
 '0']

In [104]:
sell_qty

['0',
 '14',
 '794',
 '0',
 '40',
 '0',
 '0',
 '96',
 '810',
 '5,357',
 '208',
 '3,520',
 '78',
 '12',
 '71,529',
 '963',
 '0',
 '0',
 '0',
 '0',
 '0',
 '253',
 '379',
 '159',
 '0',
 '140',
 '352',
 '0',
 '25',
 '0',
 '1,353',
 '108',
 '0',
 '6,144',
 '192',
 '49',
 '0',
 '0',
 '0',
 '0',
 '0',
 '3,225',
 '282',
 '0',
 '2',
 '898',
 '6,058',
 '0',
 '0',
 '0',
 '1,324',
 '23',
 '2',
 '189',
 '413',
 '265',
 '0',
 '0',
 '0',
 '0',
 '28',
 '0',
 '61',
 '75',
 '0',
 '0',
 '0',
 '399',
 '0',
 '60',
 '1',
 '1,318',
 '0',
 '0',
 '36,452',
 '0',
 '0',
 '177',
 '26,849',
 '948',
 '0',
 '193',
 '805',
 '26',
 '0',
 '0',
 '497',
 '373',
 '28,678',
 '0',
 '59',
 '32',
 '0',
 '0',
 '100,712',
 '0',
 '0',
 '0',
 '5,021',
 '226']

In [105]:
DataFrame = pd.DataFrame( { 'name':name, 
                            'LTP':LTP,
                            '%Chg':change_percent,
                            'Volume':volume, 
                            'Buy Price':buy_price,
                            'Sell Price':sell_price,
                            'Buy Qty':buy_qty,
                            'Sell Qty':sell_qty } )

In [106]:
DataFrame

,name,LTP,%Chg,Volume,Buy Price,Sell Price,Buy Qty,Sell Qty
0,ABB India,"4,281.45",1.24,"264,960",0.00,0.00,0,0
1,Abbott India,"22,476.90",0.39,"16,710",0.00,"22,476.90",0,14
2,Adani Wilmar,341.75,-0.77,"537,842",0.00,341.75,0,794
3,AB Capital,180.45,-0.08,"1,695,456",180.45,0.00,"5,304",0
4,Aditya Birla F,227.15,2.09,"3,399,154",0.00,227.15,0,40
...,...,...,...,...,...,...,...,...
95,Voltas,852.40,0.82,"889,834",852.40,0.00,118,0
96,Whirlpool,"1,692.70",-1.28,"32,219","1,692.70",0.00,45,0
97,Yes Bank,17.05,-0.29,"67,053,870",17.05,0.00,"603,106",0
98,Zee Entertain,255.65,-1.06,"3,396,777",0.00,255.65,0,"5,021"
99,Zydus Life,591.20,-0.13,"509,125",0.00,591.20,0,226

In [107]:
DataFrame.to_csv(r'C:\Users\rohit\OneDrive\Desktop\DataSets\Created_Datasets\NIFTY_MIDCAP_100.csv', index=False)